<div
  class="container-fluid justify-content-center animate-fade-up"
  style="padding-top: 80px"
>
  <h4 class="text-center my-2 text-primary">Gestión de Ordenes de Trabajo</h4>

  <div class="d-flex">
    <button
      class="btn btn-success btn-sm"
      (click)="addWorkOrder()"
      [disabled]="userRole !== 'ROLE_ADMIN'"
    >
      Agregar Orden de Trabajo
    </button>
  </div>

  @if (!!workOrders) {
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 table table-striped table-hover table-responsive-lg mt-4"
  >
    <!-- Definición de columnas -->
    <ng-container class="text-center align-middle" matColumnDef="_id">
      <th
        class="fs-5 text-primary m-1"
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por ID"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element._id }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="userName">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por Usuario"
      >
        Usuario
      </th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="make">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por nombre de Vehiculo"
      >
        Vehiculo
      </th>
      <td mat-cell *matCellDef="let element">{{ element.vehicleName }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="description">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por descripción"
      >
        Descripción
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="status">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por año"
      >
        Estado
      </th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="cost">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por Costo"
      >
        Placa
      </th>
      <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="action">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Acciones"
      >
        Acciones
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="infoWorkOrder(element)"
        >
          Ver
        </button>
        <button
          class="btn btn-outline-success btn-sm mx-1"
          (click)="editWorkOrder(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          Editar
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteWorkOrder(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  } @else {
  <div class="d-flex justify-content-center my-5">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
</div>
