<div
  class="container-fluid justify-content-center animate-fade-up"
  style="padding-top: 80px"
>
  <h4 class="text-center my-2 text-primary">Gestión de Vehiculos</h4>

  <div class="d-flex">
    <button
      class="btn btn-success btn-sm"
      (click)="addVehicle()"
      [disabled]="userRole !== 'ROLE_ADMIN'"
    >
      Agregar Vehiculo
    </button>
  </div>

  @if (!!vehicles) {
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 table table-striped table-hover table-responsive-lg mt-4"
  >
    <!-- Definición de columnas -->
    <ng-container class="text-center align-middle" matColumnDef="_id">
      <th
        class="fs-5 text-primary m-1"
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por ID"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element._id }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="userName">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por Usuario"
      >
        Usuario
      </th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="make">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por Marca"
      >
        Marca
      </th>
      <td mat-cell *matCellDef="let element">{{ element.make }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="model">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por modelo"
      >
        Modelo
      </th>
      <td mat-cell *matCellDef="let element">{{ element.model }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="year">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por año"
      >
        Año
      </th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="licensePlate">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por Placa"
      >
        Placa
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licensePlate }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="action">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Acciones"
      >
        Acciones
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="infoVehicle(element)"
        >
          Ver
        </button>
        <button
          class="btn btn-outline-success btn-sm mx-1"
          (click)="editVehicle(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          Editar
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteVehicle(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          <!-- <i class="bi bi-trash"></i>  -->
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  } @else {
  <div class="d-flex justify-content-center my-5">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
</div>
