<!-- <ul>
  <li><a routerLink="">Inicio</a></li>
  <li><a routerLink="articulo">Artículo</a></li>
  <li><a routerLink="galeria">Galeria</a></li>
  <li><a routerLink="contacto">Contacto</a></li>
</ul> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="">inicio</a>
        <a class="nav-link" routerLink="usuarios">Usuarios</a>
        <a class="nav-link" routerLink="stores">Stores</a>
        <a class="nav-link" routerLink="articulo">Artículo</a>
        <a class="nav-link" routerLink="galeria">Galeria</a>
        <a class="nav-link disabled" routerLink="contacto">Contacto</a>
      </div>
    </div>
  </div>
</nav>
