<div class="container-fluid d-flex justify-content-center">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
      <div class="container-fluid">
        <!-- Logo en la barra de navegación -->
        <a class="navbar-brand text-center text-white" href="#">
          <img
            src="assets/ImgLogo/LogoJairDev.png"
            alt="Logo"
            width="70"
            height="50"
            class="d-inline-block align-text-middle p-1 bg-light mx-1 logo-blur"
          />
          Proyecto CRM
        </a>

        <!-- Botón para togglear el menú en pantallas pequeñas -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces de navegación -->
        <div class="collapse navbar-collapse mx-3" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a id="link-usuarios" class="nav-link text-white" routerLink="inicio/usuarios" (click)="setActive('link-usuarios')">Usuarios</a>
            <a id="link-vehicles" class="nav-link text-white" routerLink="inicio/vehicles" (click)="setActive('link-vehicles')">Vehículos</a>
            <a id="link-workOrders" class="nav-link text-white" routerLink="inicio/workOrders" (click)="setActive('link-workOrders')">Ordenes de trabajo</a>
            <a id="link-articulo" class="nav-link text-white" routerLink="inicio/articulo" (click)="setActive('link-articulo')">Artículo</a>
            <a id="link-contacto" class="nav-link text-white" routerLink="inicio/contacto" (click)="setActive('link-contacto')">Contacto</a>
          </div>
        </div>

        <!-- Botón de cierre de sesión -->
        <button class="btn btn-outline-light btn-sm" (click)="logOut()">
          Cerrar sesión
        </button>
      </div>
    </nav>
</div>
