nav.navbar {
    background: linear-gradient(135deg, #0143a3, #0273d4);
}
.logo-blur {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Difuminado alrededor */
    border-radius: 7px; /* Redondea los bordes para suavizar más */
  }

  .nav-link {
    transition: all 0.3s ease; // Animación suave
  }
  
  .nav-link.active {
    font-size: 1.2em; 
    font-weight: bold; 
    color: black; 
  }
  