<h4>Stores</h4>

<div>
  <button class="btn btn-primary m-3" (click)="addStore()">Agregar Tienda</button>
</div>


@if (!!stores) {
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8 table table-striped table-hover table-sm"
>
  <!-- Position Column -->
  <ng-container class="text-center align-middle" matColumnDef="_id">
    <th
      class="fs-5 text-danger m-1"
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element._id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container class="text-center align-middle" matColumnDef="name">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Nombre
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  
  <ng-container class="text-center align-middle" matColumnDef="address">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by weight"
    >
      Dirección
    </th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>


  <ng-container class="text-center align-middle" matColumnDef="price">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
    >
      Precio
    </th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container class="text-center align-middle" matColumnDef="phone">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
    >
      Telefono
    </th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>
  <ng-container class="text-center align-middle" matColumnDef="createdAt">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
    >
      createdAt
    </th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <ng-container class="text-center align-middle" matColumnDef="action">
    <th
      class="fs-5 text-danger m-1"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
    >
      Action
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)="infoStore(element)">Ver</button>
      <button mat-stroked-button (click)="editStore(element)">Edit</button>
      <button mat-stroked-button (click)="deleteStore(element)">Delete</button>


    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

} @else {

<mat-spinner></mat-spinner>
}
