<div
  class="container-fluid justify-content-center animate-fade-up"
  style="padding-top: 80px"
>
  <h4 class="text-center my-2 text-primary">Gestión de Usuarios</h4>

  <div class="d-flex">
    <button
      class="btn btn-success btn-sm"
      (click)="addUser()"
      [disabled]="userRole !== 'ROLE_ADMIN'"
    >
      <i class="bi bi-person-plus"></i> Agregar Usuario
    </button>
  </div>

  @if (!!users) {
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 table table-striped table-hover table-responsive-lg mt-4"
  >
    <!-- Definición de columnas -->
    <ng-container class="text-center align-middle" matColumnDef="_id">
      <th
        class="fs-5 text-primary m-1"
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por ID"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element._id }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="name">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por nombre"
      >
        Nombre
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container
      class="text-center align-middle"
      matColumnDef="documentNumber"
    >
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por número de documento"
      >
        Número de Documento
      </th>
      <td mat-cell *matCellDef="let element">{{ element.documentNumber }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="phone">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por telefono de creación"
      >
        Telefono
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="role">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por rol"
      >
        Rol
      </th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container class="text-center align-middle" matColumnDef="action">
      <th
        class="fs-5 text-primary m-1"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Acciones"
      >
        Acciones
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="infoUser(element)"
        >
          <!-- <i class="bi bi-eye"></i>  -->
          Ver
        </button>
        <button
          class="btn btn-outline-success btn-sm mx-1"
          (click)="editUser(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          <!-- <i class="bi bi-pencil"></i>  -->
          Editar
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteUser(element)"
          [disabled]="userRole !== 'ROLE_ADMIN'"
        >
          <!-- <i class="bi bi-trash"></i>  -->
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  } @else {
  <div class="d-flex justify-content-center my-5">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
</div>
